@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&family=Roboto+Mono&display=swap");

*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
.tw-preflight {
  [multiple],
  [type="date"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="time"],
  [type="url"],
  [type="week"],
  input:where(:not([type])),
  select,
  textarea {
    --tw-shadow: 0 0 #0000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-radius: 0;
    border-width: 1px;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
  }
  [multiple]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="email"]:focus,
  [type="month"]:focus,
  [type="number"]:focus,
  [type="password"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="text"]:focus,
  [type="time"]:focus,
  [type="url"]:focus,
  [type="week"]:focus,
  input:where(:not([type])):focus,
  select:focus,
  textarea:focus {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-color: #2563eb;
    box-shadow:
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1;
  }
  input::placeholder,
  textarea::placeholder {
    color: #6b7280;
    opacity: 1;
  }
  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }
  ::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align: inherit;
  }
  ::-webkit-datetime-edit {
    display: inline-flex;
  }
  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-meridiem-field,
  ::-webkit-datetime-edit-millisecond-field,
  ::-webkit-datetime-edit-minute-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-second-field,
  ::-webkit-datetime-edit-year-field {
    padding-bottom: 0;
    padding-top: 0;
  }
  select {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  [multiple],
  [size]:where(select:not([size="1"])) {
    background-image: none;
    background-position: 0 0;
    background-repeat: unset;
    background-size: initial;
    padding-right: 0.75rem;
    -webkit-print-color-adjust: unset;
    print-color-adjust: unset;
  }
  [type="checkbox"],
  [type="radio"] {
    --tw-shadow: 0 0 #0000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-origin: border-box;
    border-color: #6b7280;
    border-width: 1px;
    color: #2563eb;
    display: inline-block;
    flex-shrink: 0;
    height: 1rem;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 1rem;
  }
  [type="checkbox"] {
    border-radius: 0;
  }
  [type="radio"] {
    border-radius: 100%;
  }
  [type="checkbox"]:focus,
  [type="radio"]:focus {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
      var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow:
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  [type="checkbox"]:checked,
  [type="radio"]:checked {
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
  }
  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
  }
  @media (forced-colors: active) {
    [type="checkbox"]:checked {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
    }
  }
  [type="radio"]:checked {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
  }
  @media (forced-colors: active) {
    [type="radio"]:checked {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
    }
  }
  [type="checkbox"]:checked:focus,
  [type="checkbox"]:checked:hover,
  [type="radio"]:checked:focus,
  [type="radio"]:checked:hover {
    background-color: currentColor;
    border-color: transparent;
  }
  [type="checkbox"]:indeterminate {
    background-color: currentColor;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent;
  }
  @media (forced-colors: active) {
    [type="checkbox"]:indeterminate {
      -webkit-appearance: auto;
      -moz-appearance: auto;
      appearance: auto;
    }
  }
  [type="checkbox"]:indeterminate:focus,
  [type="checkbox"]:indeterminate:hover {
    background-color: currentColor;
    border-color: transparent;
  }
  [type="file"] {
    background: unset;
    border-color: inherit;
    border-radius: 0;
    border-width: 0;
    font-size: unset;
    line-height: inherit;
    padding: 0;
  }
  [type="file"]:focus {
    outline: 1px solid ButtonText;
    outline: 1px auto -webkit-focus-ring-color;
  }
  :where(.tw-preflight, .tw-preflight *),
  :where(.tw-preflight, .tw-preflight *):after,
  :where(.tw-preflight, .tw-preflight *):before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }
  :where(.tw-preflight, .tw-preflight *):after,
  :where(.tw-preflight, .tw-preflight *):before {
    --tw-content: "";
  }
  .tw-preflight {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family:
      Source Sans Pro,
      sans-serif;
    font-variation-settings: normal;
    line-height: 1.5;
    line-height: inherit;
    margin: 0;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
  }
  hr:where(.tw-preflight, .tw-preflight *) {
    border-top-width: 1px;
    color: inherit;
    height: 0;
  }
  abbr:where([title]):where(.tw-preflight, .tw-preflight *) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  h1:where(.tw-preflight, .tw-preflight *),
  h2:where(.tw-preflight, .tw-preflight *),
  h3:where(.tw-preflight, .tw-preflight *),
  h4:where(.tw-preflight, .tw-preflight *),
  h5:where(.tw-preflight, .tw-preflight *),
  h6:where(.tw-preflight, .tw-preflight *) {
    font-size: inherit;
    font-weight: inherit;
  }
  a:where(.tw-preflight, .tw-preflight *) {
    color: inherit;
    text-decoration: inherit;
  }
  b:where(.tw-preflight, .tw-preflight *),
  strong:where(.tw-preflight, .tw-preflight *) {
    font-weight: bolder;
  }
  code:where(.tw-preflight, .tw-preflight *),
  kbd:where(.tw-preflight, .tw-preflight *),
  pre:where(.tw-preflight, .tw-preflight *),
  samp:where(.tw-preflight, .tw-preflight *) {
    font-feature-settings: normal;
    font-family:
      Roboto Mono,
      monospace;
    font-size: 1em;
    font-variation-settings: normal;
  }
  small:where(.tw-preflight, .tw-preflight *) {
    font-size: 80%;
  }
  sub:where(.tw-preflight, .tw-preflight *),
  sup:where(.tw-preflight, .tw-preflight *) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub:where(.tw-preflight, .tw-preflight *) {
    bottom: -0.25em;
  }
  sup:where(.tw-preflight, .tw-preflight *) {
    top: -0.5em;
  }
  table:where(.tw-preflight, .tw-preflight *) {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
  }
  button:where(.tw-preflight, .tw-preflight *),
  input:where(.tw-preflight, .tw-preflight *),
  optgroup:where(.tw-preflight, .tw-preflight *),
  select:where(.tw-preflight, .tw-preflight *),
  textarea:where(.tw-preflight, .tw-preflight *) {
    font-feature-settings: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }
  button:where(.tw-preflight, .tw-preflight *),
  select:where(.tw-preflight, .tw-preflight *) {
    text-transform: none;
  }
  button:where(.tw-preflight, .tw-preflight *),
  input:where([type="button"]):where(.tw-preflight, .tw-preflight *),
  input:where([type="reset"]):where(.tw-preflight, .tw-preflight *),
  input:where([type="submit"]):where(.tw-preflight, .tw-preflight *) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
  :-moz-focusring:where(.tw-preflight, .tw-preflight *) {
    outline: auto;
  }
  :-moz-ui-invalid:where(.tw-preflight, .tw-preflight *) {
    box-shadow: none;
  }
  progress:where(.tw-preflight, .tw-preflight *) {
    vertical-align: baseline;
  }
  :where(.tw-preflight, .tw-preflight *) ::-webkit-inner-spin-button,
  :where(.tw-preflight, .tw-preflight *) ::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"]:where(.tw-preflight, .tw-preflight *) {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  :where(.tw-preflight, .tw-preflight *) ::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  :where(.tw-preflight, .tw-preflight *) ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  summary:where(.tw-preflight, .tw-preflight *) {
    display: list-item;
  }
  blockquote:where(.tw-preflight, .tw-preflight *),
  dd:where(.tw-preflight, .tw-preflight *),
  dl:where(.tw-preflight, .tw-preflight *),
  figure:where(.tw-preflight, .tw-preflight *),
  h1:where(.tw-preflight, .tw-preflight *),
  h2:where(.tw-preflight, .tw-preflight *),
  h3:where(.tw-preflight, .tw-preflight *),
  h4:where(.tw-preflight, .tw-preflight *),
  h5:where(.tw-preflight, .tw-preflight *),
  h6:where(.tw-preflight, .tw-preflight *),
  hr:where(.tw-preflight, .tw-preflight *),
  p:where(.tw-preflight, .tw-preflight *),
  pre:where(.tw-preflight, .tw-preflight *) {
    margin: 0;
  }
  fieldset:where(.tw-preflight, .tw-preflight *) {
    margin: 0;
    padding: 0;
  }
  legend:where(.tw-preflight, .tw-preflight *) {
    padding: 0;
  }
  menu:where(.tw-preflight, .tw-preflight *),
  ol:where(.tw-preflight, .tw-preflight *),
  ul:where(.tw-preflight, .tw-preflight *) {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  dialog:where(.tw-preflight, .tw-preflight *) {
    padding: 0;
  }
  textarea:where(.tw-preflight, .tw-preflight *) {
    resize: vertical;
  }
  :where(.tw-preflight, .tw-preflight *) input::-moz-placeholder,
  :where(.tw-preflight, .tw-preflight *) textarea::-moz-placeholder {
    color: #9ca3af;
    opacity: 1;
  }
  :where(.tw-preflight, .tw-preflight *) input::placeholder,
  :where(.tw-preflight, .tw-preflight *) textarea::placeholder {
    color: #9ca3af;
    opacity: 1;
  }
  [role="button"]:where(.tw-preflight, .tw-preflight *),
  button:where(.tw-preflight, .tw-preflight *) {
    cursor: pointer;
  }
  :disabled:where(.tw-preflight, .tw-preflight *) {
    cursor: default;
  }
  audio:where(.tw-preflight, .tw-preflight *),
  canvas:where(.tw-preflight, .tw-preflight *),
  embed:where(.tw-preflight, .tw-preflight *),
  iframe:where(.tw-preflight, .tw-preflight *),
  img:where(.tw-preflight, .tw-preflight *),
  object:where(.tw-preflight, .tw-preflight *),
  svg:where(.tw-preflight, .tw-preflight *),
  video:where(.tw-preflight, .tw-preflight *) {
    display: block;
    vertical-align: middle;
  }
  img:where(.tw-preflight, .tw-preflight *),
  video:where(.tw-preflight, .tw-preflight *) {
    height: auto;
    max-width: 100%;
  }
  [hidden]:where(:not([hidden="until-found"])):where(
      .tw-preflight,
      .tw-preflight *
    ) {
    display: none;
  }
}
