@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&family=Roboto+Mono&display=swap");

/* tailwindcss-scoped-preflight będzie automatycznie dodawał scoped base styles */
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.tw-preflight .custom-scrollbar::-webkit-scrollbar {
  width: 0.75rem;
}

.tw-preflight .custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.tw-preflight .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 0.5rem;
  border: 2px solid #0f172a;
}

.z-1000 {
  z-index: 1000;
}
